.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.gymondo-logo {
  height: 10vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b8b2af;
  padding: 0 1.5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.company-logo {
  width: 115px;
  height: 30px;
  margin: 1.5vh 0;
}

.content-wrapper {
  padding: 3vh 3vh;
}

.list-wrapper {
  min-height: 65vh;
}

.header-container {
  display: flex;
  width: 500px;
}

.columns {
  display: flex;
  flex-grow: 1;
  max-width: 250px;
}

.rows {
  display: flex;
  width: 500px;
  padding: 0.5vh 0;
}

.App-link {
  color: #61dafb;
}

.pagination {
  margin: 10px 0;
}

.margin-lr-5 {
  margin: 0 0.5vh;
}

.page-button {
  background-color: #ff7f66;
  color: white;
  border-radius: 50%;
  border-style: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  font-weight: bold;
}

.selected-page {
  border-style: solid;
  border-color: #9c1900;
}

.go-first-last {
  cursor: pointer;
  border-style: none;
  background-color: #ff7f66;
  color: white;
  font-weight: bold;
  padding: 1vh;
}

button:focus {
  outline: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
